REDIS_URL=redis://redis:6379/0
DEFECTDOJO_URL=http://your-ip:8080
DEFECTDOJO_TOKEN=your_token_here

# default product type used when creating a new Product dynamically
DEFECTDOJO_PRODUCT_TYPE_ID=1

ZAP_DOCKER_IMAGE=ghcr.io/zaproxy/zaproxy:stable

